* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(243, 240, 240);
    font-family: 'Roboto', sans-serif;
}

.logo {
    display: inline-block;
    vertical-align: middle;   
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

header {
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.button{
    padding: 7px 7px;
    border-radius: 7px 7px 7px 7px;
    margin-bottom: 10px;
    border: none;
    color: white;

}

.button-1 {
    border: none;
    background-color:  #45ABEA;
    color: white;   
}

.button-2{
    background-color: white;
    color: gray;
    border-color: gray;
    border: solid gray 1px;
}

.button-3 {
    background-color: #9C72E4;
}

.button-4 {
    background-color: #64C0A9;
}

.button-5{
    background-color: #F29E33;
}

.button-6 {
    background-color: #D863A1;
}

.button-7 {
    background-color: #B0C926;
}

hr{
    color: gray;
    margin-bottom: 40px;
}

p {
    margin-bottom: 10px;
}

.circle {
    display: inline-block;
    height: 20px;
    width: 20px;
    border width: 1px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
}

.circle-check {
    color: green;
    border-color: green;

}

span {
   
 
}
.circle-cross {
    color: red;
    border-color: red;
}
    